<form class="example-form">

  <mat-form-field>
    <mat-select [(value)]="sourceSelected" placeholder="Source language">
      <mat-option *ngFor="let lan of languages" [value]="lan.code">
        {{lan.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="targetSelected" placeholder="Target Language">
      <mat-option *ngFor="let lan of languages" [value]="lan.code">
        {{lan.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Introduce text to translate"
              [(ngModel)]="text" name="text"
              (change)="triggerTranslation()"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary"
          (click)="triggerTranslation()">Translate</button>
</form>
