<!--The content below is only a placeholder and can be replaced.-->
<app-toolbar></app-toolbar>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="50%">
    <app-text-input></app-text-input>
  </div>
  <div fxFlex="50%">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="100%">
        <app-text-output-g-translate></app-text-output-g-translate>
        <app-text-output-pons></app-text-output-pons>
      </div>
    </div>
  </div>
</div>

